<mtapp:setting
  id="password_blocklist"
  label="禁止パスワードのリスト"
  hint="一行毎に禁止したいパスワードを入力してください。大文字と小文字は区別しません。スペースは無視されないので注意してください。"
  show_hint="1"
>
  <textarea name="password_blocklist" class="form-control text high"><mt:var name="password_blocklist" escape="html"></textarea>
</mtapp:setting>

